/* Blocks */

.video {
  width: 350px;
  @media (max-width: 768px) {
    width: 250px !important;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.page404 {
  opacity: 0.4;
  font-size: 34px;
}

.popup {
  background-color: #eaeaea;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  width: 780px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #666;
    font-size: 16px;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    width: 90%;
    margin-top: 75px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinha verticalmente o conteúdo */
    gap: 20px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.notification {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 20px;
  padding: 16px;
  text-align: center;
}

.slot-machine {
  text-align: center;
}

.reels {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.reel {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.symbol-container {
  height: 300px;
  overflow: hidden;
}

.symbol {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.5s ease;
}

.overlay {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.full {
  padding-bottom: 1000%;
}

.slotImage {
  width: 350px;
  @media (max-width: 768px) {
    width: 250px !important;
  }
}

/* Elements */

.item {
  flex: 1 1 50%;
  @media (max-width: 768px) {
    flex: 1 1 100%;
  }
}

h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #666;
  margin-bottom: 8px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #999;
  margin-bottom: 6px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}

.input {
  margin-bottom: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.spin {
  animation: spin 2s infinite;
}

@keyframes spin {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .reel {
    margin-right: 5px !important;
  }
  .symbol {
    width: 80px !important;
    height: 80px !important;
    font-size: 16px !important;
  }
}
